.vscode/**
.vscode-test/
.github/**
.git/
.gitattributes
.gitignore
.prettierignore
.nvmrc
.history/
.DS_Store
Thumbs.db
**/src/**
**/test/**
**/testFixture/**
**/out/**
**/*.ts
**/*.map
**/*.log
**/node_modules/**
**/website/**
tools
doc/**
prettier.config.js
**/tsconfig.json
**/webpack.config.js
contributing.md
ContributorAgreement.txt
SUPPORT.md
.travis.yml
eslint.config.mjs
pull_request_template.md
l10n/bundle.l10n.json
*.vsix
*.node