.vscode/**
.github/**
**/src/**
**/test/**
**/testFixture/**
**/out/**
**/*.ts
**/*.map
**/node_modules/**
tools
.gitignore
.prettierignore
prettier.config.js
**/tsconfig.json
contributing.md
ContributorAgreement.txt
.travis.yml
.eslintignore
pull_request_template.md
l10n/bundle.l10n.json