body {
  padding: 0;
}

html,
body {
  min-height: 100%;
}

html,
body,
.data-viewer {
  height: 100%;
}

.header-icon.float,
.header-icon.date,
.header-icon.time,
.header-icon.date-time,
.header-icon.currency,
.header-icon.char {
  width: 16px;
  height: 22px;
  margin-right: 0.25rem;
}

/* DEFAULT ICONS */

.header-icon.float {
  background: url(../../../icons/light/tableHeaderNumericTypeLight.svg) center
    no-repeat;
}

.header-icon.time,
.header-icon.date-time,
.header-icon.date {
  background: url(../../../icons/light/tableHeaderDateLight.svg) center
    no-repeat;
}

.header-icon.currency {
  background: url(../../../icons/light/tableHeaderCurrencyLight.svg) center
    no-repeat;
}

.header-icon.char {
  background: url(../../../icons/light/tableHeaderCharacterTypeLight.svg) center
    no-repeat;
}

/* DARK MODE ICONS */

.vscode-dark .header-icon.float,
.vscode-high-contrast .header-icon.float {
  background: url(../../../icons/dark/tableHeaderNumericTypeDark.svg) center
    no-repeat;
}

.header-icon.time,
.header-icon.date-time,
.vscode-dark .header-icon.date,
.vscode-high-contrast .header-icon.date {
  background: url(../../../icons/dark/tableHeaderDateDark.svg) center no-repeat;
}

.vscode-dark .header-icon.currency,
.vscode-high-contrast .header-icon.currency {
  background: url(../../../icons/dark/tableHeaderCurrencyDark.svg) center
    no-repeat;
}

.vscode-dark .header-icon.char,
.vscode-high-contrast .header-icon.char {
  background: url(../../../icons/dark/tableHeaderCharacterTypeDark.svg) center
    no-repeat;
}

.header-menu {
  position: absolute;
  z-index: 999;
}
.header-menu > ul {
  position: relative;
  bottom: 0;
  right: 100%;
}
.header-menu ul {
  background: green;
  background: var(--vscode-editorHoverWidget-background);
  border: 1px solid var(--vscode-editorHoverWidget-border);
  padding: 0;
  margin: 0;
  list-style-type: none;
  min-width: 100px;
  color: var(--vscode-editorWidget-foreground);
  box-shadow: var(--vscode-widget-shadow);
}

.ag-header-cell-label button,
.header-menu button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.header-menu button {
  color: var(--vscode-editorWidget-foreground);
}

.header-menu li {
  padding: 0.5rem;
  white-space: nowrap;
}

.header-menu li:hover {
  background: var(--vscode-toolbar-hoverBackground);
}

.header-menu > ul > li {
  position: relative;
}

.header-menu > ul > li > ul {
  display: none;
}

.header-menu > ul > li:hover > ul {
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
}

.header-menu li > span:has(+ ul) {
  display: block;
  background: url(../../../icons/light/chevron-right.svg) right center no-repeat;
}

.vscode-dark .header-menu li > span:has(+ ul) {
  background: url(../../../icons/dark/chevron-right.svg) right center no-repeat;
}

.ag-header-cell-label {
  position: relative;
}

.ag-header-cell-label .dropdown {
  position: absolute;
  right: 0;
}

button {
  cursor: pointer;
}

.ag-header-cell-label button {
  display: none;
  width: 16px;
  height: 16px;
}

.ag-header-cell-label button span {
  background: url(../../../icons/light/more.svg);
  background-size: 16px 16px;
}

.ag-header-cell-label button:hover,
.ag-header-cell-label button.active {
  background: var(--vscode-toolbar-hoverBackground);
}

.vscode-dark .ag-header-cell-label button {
  background: url(../../../icons/dark/more.svg);
  background-size: 16px 16px;
}

.ag-header-cell-label:hover button,
.ag-header-cell-label button.active {
  display: block;
}
